{% extends "layout.html" %}
{% load static bootstrap3 introspection_filters widget_tweaks %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Create a {{ form|get_form_model_verbose_name }}</h1>

    <form action="." method="post" class="form">
        {% csrf_token %}

        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_number">Number:</label>
                {% if form.number.value %}
                <input type="number" name="number" maxlength="256" value="{{form.number.value}}" class="form-control {% if form.number.errors %}is-invalid{% else%}is-valid{% endif %}"
                    required id="id_number" /> {% else %} {{ form.number|add_class:"form-control" }} {% endif %}
                <div class="invalid-feedback">{{ form.number.errors }}</div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_employee">Employee:</label>
                <select class="form-control" id="id_employee" name="employee">
                    {% if form.employee.value %}
                        <option value="{{ form.employee.value }}">{{ form.employee.value }}</option>
                    {% else %}
                        <option value="" selected>-</option>
                    {% endif %}
                    {% for employee in view.employees %}
                        <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ form.employee.errors }}</div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_date_issued">Date Issued:</label>
                <div id="filterDate2">
                    <div class="input-group date" id="id_date_issued" data-date-format="dd.mm.yyyy">
                        <input type="text" name="date_issued" id="id_date_issued" class="form-control" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_date_dued">Due Date:</label>
                <div id="filterDate2">
                    <div class="input-group date" id="id_date_dued" data-date-format="dd.mm.yyyy">
                        <input type="text" name="date_dued" autocomplete="off" id="id_date_dued" class="form-control" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                {% if form.date_dued.help_text %}
                <small class="form-text text-muted">
                    {{ form.date_dued.help_text }}
                </small>
                {% endif %}
            </div>
        </div>

        <h2 class="page-header">Content</h2>
        {{ line_formset.management_form }}
        {{ line_formset.non_field_errors }}
        <table class="table table-striped table-bordered">
            <thead>
                <th>#</th>
                <th>Label</th>
                <th>Description</th>
                <th>Unit (excl. tax)</th>
                <th>Qt.</th>
                <th>Tax rate</th>
                <th>Total</th>
            </thead>
            <tbody>
            {% for line_form in line_formset %}
                <tr class="formset-form">
                    <td class="col-md-0 counter">
                        {{ forloop.counter }}
                        {{ line_form.id }}
                    </td>
                    <td class="col-md-2">
                        {% bootstrap_field line_form.label show_label=False %}
                    </td>
                    <td class="col-md-4">
                        {% bootstrap_field line_form.description show_label=False %}
                    </td>
                    <td class="col-md-2">
                        {% bootstrap_field line_form.unit_price_excl_tax show_label=False %}
                    </td>
                    <td class="col-md-1">
                        {% bootstrap_field line_form.quantity show_label=False %}
                    </td>
                    <td class="col-md-1">
                        {% bootstrap_field line_form.tax_rate show_label=False %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% buttons layout='vertical' %}
            <button type="submit" class="btn btn-success">
                {% bootstrap_icon "star" %} Create
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/books/invoice_or_bill_create.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_employee').select2();
        });

        $('#id_date_issued').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: true,
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', 'today');
        $('#id_date_dued').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: true,
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}
